In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
URL = "http://www.qcb.gov.qa/english/publications/statistics/realestate/pages/realestatepriceindex.aspx"

# bs4 scrape

In [3]:
# Load the webpage
r = requests.get("http://www.qcb.gov.qa/english/publications/statistics/realestate/pages/realestatepriceindex.aspx")
soup = bs(r.content, "html.parser")

# test output
# print(soup.prettify())

In [ ]:
# Scrape the table
table = soup.find("table", class_="TableNewStyle")
# # table
# columns = table.find_all('th')

# columns[0]
# extract the data from the table
for row in table.find_all("tr"):
    print(row.text)
    # for cell in row.find_all("td"):
    #     print(cell.text)

# Pandas Html Extraction

In [36]:
# extract the table data as a list of DataFrames
dfs = pd.read_html(str(soup.find("table", class_="TableNewStyle")))

# select the first DataFrame in the list (assuming there is only one table)
df = dfs[0]

# print the DataFrame
df = df.rename(columns={"t\u200b\u200b\u200bYear": "Year"})
# remove \u200b from the empty year row
df['Year'] = df['Year'].replace('\u200b', pd.np.nan)
dfCopy = df.copy()
df[:]

/var/folders/_p/2d7d49_n60s0bh5zjmv7ynq00000gq/T/ipykernel_15957/1821412686.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df['Year'] = df['Year'].replace('\u200b', pd.np.nan)

     Year Month    Index
0    2021   Oct   223.59
1     NaN  Nov​  219.21​
2     NaN   Dec  212.36​
3   2022​   Jan   213.21
4     NaN   Feb   217.78
5     NaN   Mar   218.11
6     NaN   Apr   221.36
7     NaN  May​   217.60
8     NaN   Jun  220.38​
9     NaN  Jul​   209.98
10    NaN  Aug​   209.04
11    NaN   Sep  213.49​
12    NaN   Oct   219.90
13    NaN   Nov   220.28
14    NaN  Dec​  ​223.41

In [37]:
# replace NaN's
df["Year"].fillna(method="ffill",  limit=len(df), inplace=True)

In [38]:
# save the file
df.to_csv('Real_Estate_Price_Index.csv', index=False)